.footer {
    background-color: map-get($colores, tex-color);
    @include flex (column,center,center,0);
    height: 11em;
    
    &__lista_de_navegacion {
        display: flex;
    }
    &__enlaces_redes {
        margin-inline-end: 1.25em;
    }
    &__copirigth {
        color: map-get($colores, secondary);
        margin-top: $spacing-extra-small;
        margin-right: 1%;
    }
}
@media screen and (max-width: 1040px ) {
    footer {
        font-size: 13px;
    }
}
@media screen and (max-width: 810px ) {
    .footer__imagenes_redes {
        height: 2.7em;
    }
}