.header {
    background-color: map-get($colores, base);
    @include flex (row,space-between,center,0);
    height: 10em;

    &__logo {
        @include flex (row,flex-start,center,0);
        padding-left: $spacing-small;
        width: 18%;
        height: 80%;
        margin-bottom:$spacing-small;
        margin-top:$spacing-small;
    }

    &__barra_de_navegacion {
        @include flex (row,space-between,center,0);
    }

    &__label, &__input {
        display: none;
    }

    &__lista_de_navegacion {
        display: flex;
    }

    &__enlaces_de_navegacion {
        font-family: $font-principal;
        color: map-get($colores, secondary);
        margin-inline-end: $spacing-extra-small;
        font-size: $tex-base;
        text-decoration: none;
        font-weight: bolder;
    }

    &__enlaces_de_navegacion:hover {
        color: map-get($colores, primary);
    }
}
@media screen and (max-width: 1377px) {
    .header__enlaces_de_navegacion {
        font-size: $tex-large;
    }
    .header__logo {
        width: 25%;
    }
}
@media screen and (max-width: 1040px ) {
    header {
        font-size: 13px;
    }
}
@media screen and (max-width: 810px) {
    .header {
        height: 15em;
        font-size: 10px;
        @include flex (column,center,center,4%);
        &__logo {
            height: 7vh;
            width: 32vw;
            padding-left: 0;
            margin-top: 1%;
            margin-bottom: 1%;
        }
        &__hamburguesa_img {
            width: 5em;
            height: 3em
        }
        &__label {
            display: block;
        }
        &__input:checked ~ nav {
            display:block ;
        }
        &__barra_de_navegacion {
            display: none;
        }
    }
}
@media screen and (max-width: 470px) {
    .header__barra_de_navegacion {
        margin-left: ($spacing-extra-small/3);
    }
    .header__enlaces_de_navegacion {
        font-size:$tex-estra-large;
        margin-inline-end: .7em;
    }
    .header__logo {
        width: 40vw;
    }
}