.servicios {
    background-image: url(../multimedia/img/fondo_servicios.jpg); background-size: cover;
    /* BANNER SERVICIOS*/
    &__banner {
    background-image: url(../multimedia/img/banner_servicios.jpg); background-size: cover;
    height: 18.75em;
    margin-top: $spacing-extra-small;
    @include flex (column,flex-start,flex-start,0);
    }
    &__titulo {
        color: map-get($colores, base);
        font-family: $font-principal;
        font-size: $tex-title;
        margin-top: $spacing-small;
        margin-left: $spacing-small;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: map-get($colores, base);
        font-weight: lighter;
    }
    &__subtitulo {
        color: map-get($colores, base);
        font-family: $font-secondary;
        font-size: $tex-small;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: map-get($colores, base);
        margin-left: $spacing-small;
        font-weight: lighter;
    }
} 
/* TARJETAS DE SERVICIOS*/
.seccion_servicios {
    @include flex (row,space-evenly,flex-start,0);
    margin-top: $spacing-large;

    &__opciones {
        width: 20em;
        height: 30em;
        background-color: map-get($colores, base);
        margin-bottom: $spacing-medium;
        border-radius: 6%;
        padding-left: $spacing-extra-small /3;
        transition: all 0.40s;
        box-shadow: 0px 15px 25px map-get($colores, primary);
    }
    &__img {
        border-radius: 50%;
        width: 11em;
        height: 10em; 
        margin-top: $spacing-extra-small;
        margin-left: $spacing-medium;
        filter: grayscale(35%);  
        margin-bottom: $spacing-small; 
    }
    &__titulo {
        font-family: $font-principal;
        font-weight: lighter;
        margin-bottom: $spacing-small;
        text-align: center;
        font-size: $tex-medium;
        -webkit-text-stroke-width: 0.25px;
        -webkit-text-stroke-color: map-get($colores, tex-color);
        color: map-get($colores, secondary);
    }
    &__lista {
        list-style-type: disc;
    }
    &__info {
        font-family: $font-secondary;
        line-height: $tex-base;
        margin-left: $spacing-small;
        margin-right: $spacing-extra-small;
    }
}
/*MEDIA QUERY 1040PX SERVICIOS*/
@media screen and (max-width: 1040px ) {
    .servicios__banner {
        font-size: 13px;
    }
    .seccion_servicios {
        flex-wrap: wrap;
    }
}
/*MEDIA QUERY 810PX SERVICIOS*/
@media screen and (max-width: 810px) {
    .servicios__banner {
        font-size: 10px;
    }
    .seccion_servicios {
        font-size: 12px;
        &__img {
            margin-bottom: $spacing-extra-small;
            margin-left: $spacing-small+1;
        }
        &__titulo {
            margin-bottom: $spacing-extra-small;
        }
    }
}
/*MEDIA QUERY 660PX SERVICIOS*/
@media screen and (max-width: 660px) {
    .servicios__banner {
        margin-top: $spacing-extra-small;
        font-size: 9px;
    }
}
/*MEDIA QUERY 660PX SERVICIOS*/
@media screen and (max-width: 470px) {
    .servicios__banner {
        font-size: 7px;
    }
}
