
    /*COLORES*/
    $colores: (
    primary: #ed6b5a62,
    secondary: #CBB26A,
    base: #FDFDFA,
    tex-color:#2B2B2B
    );

    @each $color, $value in $colores {
        .#{$color} {
            color: #{$value};
        }
    }

    /*ESPACIOS*/
    $spacing-extra-large:8.5rem;
    $spacing-large:6rem;
    $spacing-medium:4rem; 
    $spacing-small:2rem; 
    $spacing-extra-small:1.2rem; 

    /*FONT-FAMILY*/
    $font-principal:'Quicksand', sans-serif;
    $font-secondary: 'Manrope', sans-serif;

    /*FONT-SIZES*/
    $tex-estra-large: 1.1em;
    $tex-large:1.2em;
    $tex-medium:2em;
    $tex-base: 1.5em;
    $tex-small: 2.5em;
    $tex-title: 4.5em;
    $tex-subtitle: 3em;